

#settingsList{
    width: 20vw;
    height:calc(100vh - 118px);
    border-right: 5px double #000;
    background-color: #223;
    font-family: monospace;
    display: block;
    float: left;
    position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}

#mainSettings{
    width: 80vw;
    height: calc(100vh - 118px);
    position: fixed;
    display: none;
    float: left;
    position:absolute;
	top:0;
	right:0;
    bottom:0;
    background-color: #336;
}


#settingsList .setting{
    width: calc(100% - 20px);
    height: 35px;
    border: 1px solid #000;
    list-style-type: none;
    display: block;
    color: #cecece;
    text-align: right;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
    font-family: monospace;
    line-height: 35px;
    cursor: pointer;
}
#settingsList .setting:hover{
background-color: #556;
}

#settingsView{
    width: 80vw;
    height: calc(100vh - 118px);
    float: left;
    position:absolute;
	top:0;
	right:0;
    bottom:0;
}


.settingsTitle{
    width: 100%;
    height: 50px;
    color: #cecece;
    font-family: monospace;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 30px auto;
}

.aboutSpace{
    width: 100%;
    height: auto;
}