



/*.etabs-tab {
    display: none;
    position: relative;
    color: #333;
    height: 22px;
    padding: 6px 8px 4px;
    border: 1px solid #aaa;
    border-bottom: none;
    border-left: none;
    background: linear-gradient(to bottom, rgba(234,234,234,1) 0%,rgba(204,204,204,1) 100%);
    font: caption;
    font-size: 14px;
    background-color: #ccc;
    cursor: default;
}

/* Dragula */



